.git
.github
.idea
.vscode
.DS_Store

**/.env
**/.env.*
!**/.env.example

**/node_modules
**/dist
**/target
**/.cache
**/.vite
**/coverage

daiphat-ai
daiphat_mobile
docs

docker-compose*.yml
README.md
