<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{emails/layout/main-layout :: layout('Xác thực đặt lại mật khẩu', ~{::content}, ~{}, true)}">
  
  <th:block th:fragment="content">
    <tr>
      <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:24px;font-weight:bold;line-height:24px;text-align:center;color:#f1f5f9;">
          Xác thực đặt lại mật khẩu
        </div>
      </td>
    </tr>
    <tr>
      <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;line-height:24px;text-align:center;color:#94a3b8;">
          Chào <span th:text="${fullName}">Bạn</span>, Quản trị viên đã yêu cầu đặt lại mật khẩu cho tài khoản của bạn.
        </div>
      </td>
    </tr>
    <tr>
      <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;line-height:24px;text-align:center;color:#94a3b8;">
          Vui lòng cung cấp mã xác thực bên dưới cho Quản trị viên để tiếp tục quá trình.
        </div>
      </td>
    </tr>
    <tr>
      <td align="center" style="font-size:16px;padding:30px;word-break:break-word;">
        <div class="code-box" style="background-color: #0f172a; border: 1px dashed #34d399; border-radius: 8px; padding: 30px;">
          <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:42px;font-weight:bold;letter-spacing:5px;line-height:1;text-align:center;color:#34d399;" th:text="${otp}">
            123456
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td align="center" style="font-size:0px;padding:10px 25px;padding-top:20px;word-break:break-word;">
        <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;line-height:24px;text-align:center;color:#94a3b8;">
          Nếu bạn không biết về yêu cầu này, vui lòng liên hệ với bộ phận hỗ trợ ngay lập tức.
        </div>
      </td>
    </tr>
  </th:block>

</div>
</html>
