<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- Logo chính (200px) -->
<div th:fragment="logo" style="font-family:Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;font-size:13px;line-height:1.5;text-align:center;color:#a1a1aa;">
  <p><img src="https://imgs.emailmd.dev/logoipsum-388.png" alt="Logo" width="200"></p>
</div>

<!-- Logo phụ (48px) cho Footer -->
<p th:fragment="small-logo"><img src="https://imgs.emailmd.dev/logoipsum-389.png" alt="Logo" width="48"></p>

</body>
</html>
