INSERT INTO orders (id, user_id, name, phone, email, order_code, order_type, receive_type, total_amount, status, created_at, updated_at, created_by, last_modified_by)
VALUES ('cd668da4-6827-4852-b4a4-43b023536b35', '9c0139a3-35c9-42d5-afc6-355a79193499', 'Nguyen Van Test', '0901234567', 'test@test.com', 'ORD-MIXED-001', 'ONLINE', 'COUNTER_PICKUP', 20000, 'PAID', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 'SYSTEM', 'SYSTEM');


-- Wait, we need to know the IDs of the inserted serials to put into order_details.
-- We can just do a subquery in INSERT INTO order_details.

INSERT INTO order_details (order_id, lottery_ticket_id, lottery_ticket_serial_id, quantity, price, status, created_at, updated_at, created_by, last_modified_by)
VALUES 
('cd668da4-6827-4852-b4a4-43b023536b35', 401, (SELECT id FROM lottery_ticket_serials WHERE serial_number = 'SERIAL-401-1'), 1, 10000, 'PROXY_HOLDING', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 'SYSTEM', 'SYSTEM'),
('cd668da4-6827-4852-b4a4-43b023536b35', 402, (SELECT id FROM lottery_ticket_serials WHERE serial_number = 'SERIAL-402-1'), 1, 10000, 'PROXY_HOLDING', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 'SYSTEM', 'SYSTEM');

